@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetbrainsMono Nerd Font";
    font-size: 13px;
    /* reference the color by using @color-name */
    color: @text;
}

window#waybar {
    /* you can also GTK3 CSS functions! */
    background-color: shade(@base, 0.9);
    border: 4px solid alpha(@crust, 0.3);
}
