@import "mocha.css";

* {
    font-family: JetbrainsMono Nerd Font;
    font-size: 13px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 1rem;
    border: 2px solid @lavender;
    margin: 3px;
    background-color: @base;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @lavender;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @mauve;
    border-radius: 1rem;
}

#tray,
#backlight,
#clock,
#battery,
#wireplumber,
#custom-lock,
#custom-power,
#temperature,
#keyboard-state,
#cpu,
#memory,
#network,
#mpris {
    background-color: @base;
    border: 2px solid @lavender;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    margin: 3px 0;
}

#clock {
    color: @text;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
}

#wireplumber {
    color: @maroon;
}

#tray {
    margin-right: 1rem;
}
