include "debug.kdl"
include "input.kdl"
include "outputs.kdl"
include "layout.kdl"
include "startup.kdl"
include "animations.kdl"
include "rules.kdl"
include "binds.kdl"

layout {
    focus-ring {
        off
        width 2

        active-color "#74c7ec"
        inactive-color "#585b70"
    }

    border {
        // off
        width 2

        active-color "#b4befe"
        // inactive-color "#585b70"

        // active-gradient from="#b4befe" to="#cba6f7" angle=45
        inactive-gradient from="#585b70" to="#7f849c" angle=45
    }

    preset-column-widths {
        proportion 0.3333333333333333
        proportion 0.5
        proportion 0.6666666666666667
        // fixed 1000
    }

    default-column-width { proportion 0.5; }

    gaps 4

    struts {
        left -2
        right -2
    }

    tab-indicator {
        width 6
        gap 0
        // length total-proportion=1.0
        position "top"
        gaps-between-tabs 4
        corner-radius 4
        // place-within-column
    }

    // center-focused-column "on-overflow"
    // center-focused-column "always"
}

cursor {
    xcursor-theme "catppuccin-mocha-dark-cursors"
    xcursor-size 36
}

prefer-no-csd

environment {
    // DISPLAY ":0"
    // ELECTRON_OZONE_PLATFORM_HINT "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
}

// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

overview {
    zoom 0.7
}

gestures {
    hot-corners {
        off
    }
}

recent-windows {
    // Pre-select the "Output" scope when switching windows.
    binds {
        Mod+Tab         { next-window     scope="output"; }
        Mod+Shift+Tab   { previous-window scope="output"; }
        Mod+Escape      { next-window     scope="output" filter="app-id"; }
        Mod+Shift+Escape { previous-window scope="output" filter="app-id"; }
    }

    highlight {
        corner-radius 8
        active-color "#b4befe"
        urgent-color "#f38ba8"
    }
}

