window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

layer-rule {
    match namespace="rofi"
    match namespace="dunst"

    shadow {
        on
        color "#89dceb50"
    }

    geometry-corner-radius 11

}

window-rule {
    match title="simple-egl"
    draw-border-with-background false
}

window-rule {
    match app-id="flameshot" title="flameshot"
    match app-id="thunar" title="Rename"
    open-floating true
    // open-fullscreen false
}

window-rule {
    match app-id="volume" title="kitty"
    open-floating true

    default-window-height { proportion 0.75; }
    default-column-width { proportion 0.75; }

    // open-fullscreen false
}

window-rule {
    match app-id="xdg-desktop-portal-gtk"
    match app-id="Xdg-desktop-portal-gtk"
    open-floating true

    default-window-height { fixed 1000; }
    default-column-width { fixed 1200; }

    border {
        off
    }
}

window-rule {
    match app-id="deadbeef" title="Search"
    open-floating true

    default-window-height { fixed 800; }
    default-column-width { fixed 850; }

    // open-fullscreen false
}

// Qt used by OBS doesn't signal min size yet, so do it manually.
window-rule {
    match app-id=r#"^com\.obsproject\.Studio$"#
    min-width 800
}

window-rule {
    match app-id="obsidian"
    open-maximized true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id="chromium$" title="DevTools$"
    match app-id="firefox" title="Developer Tools$"

    default-column-width { proportion 0.3333333333333333; }
}

window-rule {
    match app-id="sublime_merge"

    default-column-width { fixed 1500; }
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^org\.telegram\.desktop$"#

    // Doesn't quite work: Firefox changes the title one frame early.
    match app-id="firefox" title="Chat aceArt"
    match app-id="firefox" title="anthony.landolina@aceart.de"

    block-out-from "screencast"

    border {
        active-color "#f38ba8"
    }

    shadow {
        off
        color "#f38ba840"
    }
}

// Put swaybg inside the overview backdrop.
layer-rule {
    match namespace="^wallpaper$"

    place-within-backdrop true
}
